html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    flex-direction: column;
}
#global{
    flex: 1;
}
#colores{
    position: fixed;
    top: 40%;
    background-color: rgba(51, 51, 51, 0.70);
    width: 50px;
    height: 122px;
}
#green,#red,#blue{
    cursor: pointer;
    width: 30px;
    height: 30px;
    display: block;
    margin: 5px auto;
    border: 2px solid white;
    
}
#green{
    background: #235e3d;
}
#red{
    background: #ca3413;
}
#blue{
    background: #1f87c4;
}
.clearfix{
    float: none;
    clear: both;
    margin-bottom: 10px;
}

#global{
    width: 60%;
    margin: 30px auto 0px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 20px 20px 30px black;
}

#logo{
    font-size: 26px;
    font-family: Arial;
    letter-spacing: 4px;
    color: white;
    text-align: center;
    width: 385px;
    height: 75px;
    float: left;
    line-height: 80px;
    text-transform: uppercase;
}
#logo h1{
    margin: 0px;
}

#menu{
    font-family: Helvetica, Arial;
    background: #333;
    width: 100%;
    text-transform: uppercase;
    margin-bottom: 20px;
}

#menu ul{
    line-height: 46px;
    list-style: none;
}

#menu ul li{
    height: 46px;
    display: inline-block;
    transition: all 300ms;
}

#menu ul li a{
    display: block;
    color: white;
    text-decoration: none;
    padding: 0 30px;
}

#posts{
    width: 60%;
    float: left;
    font-family: Helvetica, Arial;
    
}

.post{
    background-color:#fafafa ;
    padding: 10px 30px 10px 30px;
    margin-bottom: 10px;
}

h2{
    font-family: Helvetica, Arial ;
    font-size: 28px;
    color: #333;
}

.post .date{
    color: gray;
    margin-top: 10px;
    display: block;
}

.post p{
    margin-top: 10px;
    margin-bottom: 10px;
    line-height: 25px;
    text-align: justify;
}

.button{
    padding: 15px;
    color: white;
    text-decoration: none;
    margin: 10px 0px;
    display: block;
    width: 60px;
    font-size: 14px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 1px 1px 2px gray;
    transition: all 400ms;
}

#sidebar{
    font-family: Helvetica, Arial;
    float: right;
    width: 30%;
}

#sidebar h4{
    margin-top: 50px;
    margin-bottom: 20px;
    text-align: center;
    color: #333;
}

#sidebar span{
    margin: 0;
    background-color: white;
    padding: 2px 5px;
}

#sidebar img{
    width: 100%;
    box-shadow: 2px 2px 2px gray;

}

#sidebar p{
    font-size: 16px;
    text-align: center;
}

form input[type="text"],
form input[type="password"],
form input[type="email"]{
    padding: 5px;
    border-radius: 2px;
    border-color: #333;
    border: 1px solid #ccc;
    width: 90%;
    margin: 5px 0px 5px 0px;
    box-shadow: 1px 1px 2px gray;
}

form input[type="submit"]{
    padding: 10px 15px;
    color: white;
    margin: 5px 0px;
    border-radius: 5px;
    font-size: 14px;
    box-shadow: 1px 1px 2px gray;
    border: none;
    transition: all 300ms;
}

footer{
    font-family: Helvetica,Arial;
    color: white;
    height: 47px;
    background-color: rgba(51,51,51,0.70);
    width: 100%;
    text-align: center  ;
    margin: 50px auto 0px auto;
    padding: 0px;  
    line-height: 47px;
}

.bx-wrapper, .bx-viewport{
    height: 250px !important    ;
}

.subir{
    color: white;
    text-decoration: none;
    display: block; 
    float: right;
    padding-right: 40px;
}

#box{
    width: 55%;
    float: left;
    padding: 0px 30px;
}
#acordion{   
    width: 100%;
    padding: 10px; 
    background-color: #f0f0f0;
    margin-top: 10px;
    color: white;
}
#acordion h3{
    margin-top:10px;
}
#reloj{
    margin: 50px auto;
    text-align: center;
}
#reloj p {
    font-size: 36px;
    font-weight: bold;
    font-family: Helvetica, Arial;
    margin: 50px auto;
    padding: 20px 0;
    width: 40%;
    background-color: #fafafa;
    border: 2px solid #ccc;
    border-radius: 8px;
    text-align: center;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
    color: #333;
}

